<div class="topbar-main">
  <div class="container">
    <!-- Logo container-->
    <div class="logo">
      <a href="/" class="logo"><span>Drug Store</span></a>
    </div>
    <!-- End Logo container-->

    <div class="menu-extras">
      <ul class="nav navbar-nav navbar-right pull-right">
        <li class="dropdown navbar-c-items">
          <% if(user.role ){ %>
          <a
            href=""
            class="dropdown-toggle waves-effect waves-light profile"
            data-toggle="dropdown"
            aria-expanded="true"
            ><b style="color: chocolate;">Quản lý</b>
          </a>
          <% } else{%>
          <a
            href=""
            class="dropdown-toggle waves-effect waves-light profile"
            data-toggle="dropdown"
            aria-expanded="true"
            ><b style="color: chocolate;">Nhân viên</b>
          </a>
          <% } %>
          <ul class="dropdown-menu">
            <% if(user.role){ %>
            <li>
              <a href="/register">
                <i
                  class="fa fa-registered text-custom m-r-10"
                  aria-hidden="true"
                ></i>
                Register
              </a>
            </li>
            <% } %>
            <li class="divider"></li>
            <li>
              <a href="/logout"
                ><i class="ti-power-off text-danger m-r-10"></i> Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-custom">
  <div class="container">
    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <li class="has-submenu">
          <a href="/"><i class="md md-layers"></i>Tổng quan</a>
        </li>
        <% if(user.role) {%>
        <li class="has-submenu">
          <a href="/import-drug"><i class="md md-dashboard"></i>Nhập xuất</a>
        </li>
        <% } %>

        <li class="has-submenu">
          <a href="/drug-list"><i class="md md-color-lens"></i>Quản lý thuốc</a>
        </li>

        <li class="has-submenu">
          <a href="/get-order"><i class="md md-pages"></i>Báo cáo</a>
        </li>
        <li class="has-submenu">
          <a href="/add-order"><i class="md md-shopping-cart"></i>Bán hàng</a>
        </li>
      </ul>
      <!-- End navigation menu        -->
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end navbar-custom -->
