<div class="topbar-main">
  <div class="container">
    <!-- Logo container-->
    <div class="logo">
      <a href="index.html" class="logo"><span>Drug Store</span></a>
    </div>
    <!-- End Logo container-->

    <div class="menu-extras">
      <ul class="nav navbar-nav navbar-right pull-right">
        <li class="dropdown navbar-c-items">
          <a
            href=""
            class="dropdown-toggle waves-effect waves-light profile"
            data-toggle="dropdown"
            aria-expanded="true"
            ><b style="color: chocolate;">Quản lý</b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:void(0)"
                ><i class="ti-user text-custom m-r-10"></i> Profile</a
              >
            </li>
            <li>
              <a href="javascript:void(0)"
                ><i class="ti-settings text-custom m-r-10"></i> Settings</a
              >
            </li>
            <li>
              <a href="javascript:void(0)"
                ><i class="ti-lock text-custom m-r-10"></i> Lock screen</a
              >
            </li>
            <li>
              <a href="/register">
                <i class="fa fa-registered text-custom m-r-10" aria-hidden="true"></i>
                 Register
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="javascript:void(0)"
                ><i class="ti-power-off text-danger m-r-10"></i> Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="navbar-custom">
  <div class="container">
    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <li class="has-submenu">
          <a href="/import"><i class="md md-dashboard"></i>Nhập xuất</a>
        </li>

        <li class="has-submenu">
          <a href="/drug-list"><i class="md md-color-lens"></i>Quản lý thuốc</a>
        </li>

        <li class="has-submenu">
          <a href="#"><i class="md md-layers"></i>Giao dịch</a>
        </li>
        <li class="has-submenu">
          <a href="#"><i class="md md-class"></i>Sổ quỹ</a>
        </li>

        <li class="has-submenu">
          <a href="#"><i class="md md-pages"></i>Báo cáo</a>
        </li>

        <li class="has-submenu">
          <a href="#"><i class="md md-folder-special"></i>Tra cứu</a>
        </li>
      </ul>
      <!-- End navigation menu        -->
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end navbar-custom -->
