<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body>
    <header id="topnav">
      <% include partials/header %>
    </header>

    <div class="wrapper">
      <div class="container">
        <div class="col-md-3">
          <div class="grid-container">
            <form  method="GET" action="/import-drug">
            <div class="row">
              <div class="card-box">
                <h4 class="header-title m-t-0">
                  <b>Tìm kiếm</b>
                </h4>
                
                  <div class="form-group">
                    <label for="inputDrugName">Nhập tên thuốc</label>
                    <input
                      type="text"
                      placeholder="Nhập tên thuốc..."
                      class="form-control"
                      name="TENSP"
                    />
                  </div>
                  <div class="form-group">
                    <label for="inputDrugCode">Nhập mã thuốc</label>
                    <input
                      type="text"
                      placeholder="Nhập mã thuốc..."
                      class="form-control"
                      name="MASP"
                    />
                  </div>
                  <div class="form-group">
                    <label for="inputDrugNCC">Nhập nhà cung cấp</label>
                    <input
                      type="text"
                      placeholder="Nhập nhà cung cấp thuốc..."
                      class="form-control"
                      name="MANCC"
                    />
                  </div>
                  
                
              </div>
            </div>

            <div class="row">
              <button
                type="submit"
                class="btn btn-success btn-rounded waves-effect waves-light"
              >
                <span class="btn-label"><i class="fa fa-search"></i></span>
                Tìm kiếm
              </button>
            </div>
          </form>
          
          </div>
        
        </div>
        <div class="col-md-9">
          <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Nhập thuốc</b></h4>
           

            <div class="p-20">
                <table class="table m-0">

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên thuốc</th>
                            <th>Mã thuốc</th>
                            <th>Nhà cung cấp</th>
                            <th style="width: 20px;">Số lượng</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% listProduct.forEach(function(prod){ %>
                        <tr>
                          <td><input type="checkbox" name="name1" />&nbsp;</td>
                            <td><%= prod.TENSP %></td>
                            <td><%= prod.MASP %></td>
                            <td><%= prod.MANCC %></td>
                            <td><input type="number" min="0"></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="row">
              <button
                type="button"
                class="btn btn-success btn-rounded waves-effect waves-light"
              >
                <span class="btn-label"><i class="fa fa-plus"></i></span>
                Nhập
              </button>
            </div>
        </div>
      </div>
    </div>

    <% include partials/script %>
  </body>
</html>
